# PyTorch CPU for Streamlit Cloud
torch==2.1.0+cpu --index-url https://download.pytorch.org/whl/cpu
torchvision==0.16.0+cpu --index-url https://download.pytorch.org/whl/cpu

# Other dependencies
streamlit==1.30.0
opencv-python
numpy
pyttsx3
reportlab
Pillow
scikit-learn
